In [1]:
#Homework 1 - PyBank

In [23]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [24]:
csvpath = Path("budget_data.csv")

In [58]:
budget_df = pd.read_csv(csvpath,index_col='Date', parse_dates=True, infer_datetime_format=True)
budget_df.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [59]:
total_months = budget_df["Profit/Losses"].count()
print(total_months)

86

In [60]:
net_profit_losses = budget_df["Profit/Losses"].sum()
print ("$" + str(net_profit_losses))

$38382578

In [61]:
average_change = (budget_df["Profit/Losses"] - budget_df["Profit/Losses"].shift(1))
print (average_change)

Date
2010-01-01         NaN
2010-02-01    116771.0
2010-03-01   -662642.0
2010-04-01   -391430.0
2010-05-01    379920.0
                ...
2016-10-01   -665765.0
2016-11-01    693229.0
2016-12-01   -734926.0
2017-01-01     77242.0
2017-02-01    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [62]:
average_change_PL = round(average_change.mean(),2)
print ("$" + str(average_change_PL))

$-2315.12

In [63]:
greatest_increase = average_change.max()
print ("$" + str(greatest_increase))

$1926159.0

In [64]:
greatest_decrease = average_change.min()
print ("$" + str(greatest_decrease))

$-2196167.0