In [1]:
#Homework 1 - PyBank

In [2]:
import pandas as pd
from pathlib import Path

In [3]:
csvpath = Path("budget_data.csv")

In [4]:
budget_df = pd.read_csv(csvpath,index_col='Date')
budget_df.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

In [5]:
total_months = budget_df["Profit/Losses"].count()
print(total_months)

86

In [6]:
net_profit_losses = budget_df["Profit/Losses"].sum()
print ("$" + str(net_profit_losses))

$38382578

In [7]:
budget_df['average_change'] = budget_df["Profit/Losses"] - budget_df["Profit/Losses"].shift(1)
budget_df

          Profit/Losses  average_change
Date
Jan-2010         867884             NaN
Feb-2010         984655        116771.0
Mar-2010         322013       -662642.0
Apr-2010         -69417       -391430.0
May-2010         310503        379920.0
...                 ...             ...
Oct-2016         102685       -665765.0
Nov-2016         795914        693229.0
Dec-2016          60988       -734926.0
Jan-2017         138230         77242.0
Feb-2017         671099        532869.0

[86 rows x 2 columns]

In [8]:
average_change_PL = round(budget_df['average_change'].mean(),2)
print ("$" + str(average_change_PL))

$-2315.12

In [9]:
greatest_increase = budget_df['average_change'].max()
print ("$" + str(greatest_increase))

$1926159.0

In [10]:
greatest_decrease = budget_df['average_change'].min()
print ("$" + str(greatest_decrease))

$-2196167.0

In [21]:
date_increase = budget_df.loc[budget_df['average_change'] == greatest_increase].index.values
print(date_increase)

['Feb-2012']

In [26]:
date_decrease = budget_df.loc[budget_df['average_change'] == greatest_decrease].index.values
print(date_decrease)

['Sep-2013']

In [31]:
print("Financial Analysis")
print("-----------------------------------")
print("Total Months: " + str(total_months))
print("Total: " + "$" + str(net_profit_losses))
print("Average Change: " + "$" + str(average_change_PL))
print("Greatest Increase in Profits : Feb-2012 " + "$" + "(" + str(int((greatest_increase))) + ")")
print("Greatest Decrease in Profits : Sep-2013 " + "$" + "(" + str(int((greatest_decrease))) + ")")

Financial Analysis
-----------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits : Feb-2012 $(1926159)
Greatest Decrease in Profits : Sep-2013 $(-2196167)